@mixin xlrg-btn {
  border: none;
  display: inline-block;
  padding: 10px 50px;
  text-decoration: none;
  font-size: $sml-font;
}

@mixin card {
  height: 500px;
  width: 250px;
  box-shadow: 0 0 1rem $grayblue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@mixin card-heading {
    font-weight: $heavy;
    color: $grayblue;
    font-size: 1.2em;
}

/* buttons */
@mixin sml-btn{
   display: inline-block;
   padding: 10px 20px;
   text-decoration: none;
   font-size: $fontsize;
   cursor: pointer;
}

@mixin grey-font {
    font-weight: $light;
    color: $grayblue;
    font-size: $fontsize;
}

@mixin sub-header {
    font-size: $subheader;
    color: $darkblue;
    font-weight: $heavy;
}

@mixin heading {
  color: $darkblue;
  font-weight: $heavy;
}

@mixin btn-shadow {
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.32);
    box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.32);
}

@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin feature-tab-mix {
  h1 {
    @include sub-header;
    padding-bottom: 1.5em;
  }

  p {
    @include grey-font;
    padding-bottom: 1.5em;
  }

  button {
    @include sml-btn;
    background-color: $soft-blue;
    color: hsl(0, 0, 100%);
  }

  button:hover {
    background-color: hsl(0, 0, 100%);
    color: $soft-blue;
    border: 2px solid $soft-blue;
  }
}

@mixin feature-img {
  grid-column: 1;
  grid-row: 1;
}

@mixin btnhover{
  background: hsl(0, 0, 100%);
}

