@mixin xlrg-btn {
  border: none;
  display: inline-block;
  padding: 10px 50px;
  text-decoration: none;
  font-size: $sml-font;
}

@mixin card {
  height: 500px;
  width: 250px;
  box-shadow: 0 0 1rem $grayblue;
  @include flexbox-center-column;
  flex-wrap: wrap;
}

@mixin card-heading {
  font-weight: $heavy;
  color: $grayblue;
  font-size: 1.2em;
}

/* buttons */
@mixin sml-btn{
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: $fontsize;
  cursor: pointer;
}

@mixin grey-font {
  font-weight: $light;
  color: $grayblue;
  font-size: $fontsize;
}

@mixin sub-header {
  font-size: $subheader;
  color: $darkblue;
  font-weight: $heavy;
}

@mixin heading {
  color: $darkblue;
  font-weight: $heavy;
}

@mixin btn-shadow {
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.32);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.32);
  box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.32);
}

@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexbox($justify-content: center, $align-items: center, $flex-direction: row, $flex-wrap: nowrap) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}

@mixin flexbox-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

@mixin feature-tab-mix {
  h1 {
    @include sub-header;
    padding-bottom: 1.5em;
  }

  p {
    @include grey-font;
    padding-bottom: 1.5em;
  }

  button {
    @include sml-btn;
    background-color: $soft-blue;
    color: hsl(0, 0, 100%);
  }

  button:hover {
    background-color: hsl(0, 0, 100%);
    color: $soft-blue;
    border: 2px solid $soft-blue;
  }
}

@mixin feature-img {
  grid-column: 1;
  grid-row: 1;
}

@mixin btnhover{
  background: hsl(0, 0, 100%);
}

@mixin grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@mixin border-btn {
  border: 2px solid;
}

@mixin card {
  box-shadow: 0 0 1rem $grayblue;
  border-radius: 4px;
  padding: 1rem;
  @include flexbox-center-column;
  width: fit-content;
  padding: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  @include height(100%);
  min-height: 400px;

  img:nth-child(1) {
    @include max-width(105px);
    @include margin-center;
    @include padding(0 0 2rem 0);
  }

  h4 {
    @include text-align;
    @include padding(0 0 1rem 0);
    color: $darkblue;
  }

  p {
    margin: 0 !important;
    @include padding(0 0 3rem 0);
    color: $grayblue;
    @include text-align;
  }

  button {
    @include margin(1rem 0 0 0);
    @include sml-btn;
    background: $soft-blue;
    color: $white;
  }
}

// Size Mixins

@mixin width($val) {
  width: $val;
}

@mixin max-width($val) {
  max-width: $val;
}

@mixin height($val) {
  height: $val;
}

@mixin max-height($val) {
  max-height: $val;
}

// Spacing Mixins

@mixin margin($val) {
  margin: $val;
}

@mixin margin-center {
  margin: 0 auto;
}

@mixin padding($val) {
  padding: $val;
}

@mixin border-radius($val) {
  border-radius: $val;
}

// Typography Mixins 
@mixin text-align($val: center) {
  text-align: $val;
}

@mixin font-size($val) {
  font-size: $val;
}

@mixin line-height($val) {
  line-height: $val;
}

@mixin letter-spacing($val) {
  letter-spacing: $val;
}

@mixin text-transform($val: uppercase) {
  text-transform: $val;
}
