@import 'abstracts';

/* Download Extension, FAQ, Footer Styles */

.download-ext {
  @include margin(7rem 0 0 0);
  @include height(100%);
  @include width(100vw);
  @include flexbox;
}

.download-ext-wrapper {
  @include flexbox-center-column;
  @include width(70%);
  max-width: 1200px;

  @media only screen and (max-width: 768px) {
    @include width(100%);
    @include flexbox(center, center, column, wrap);

  }

  @media only screen and (max-width: 1024px) {
    @include width(90%);

    }

    @media only screen and (max-width: 1440px) {
      @include width(85%);
  
      }

}

.download-ext-header {
  @include font-size(2em);
  color: $darkblue;
  @include padding(0 0 2rem 0);

  @media only screen and (max-width: 425px) {
   text-align: center;
  font-size: 1.5em;
  }
}

.download-ext-subheader {
  @include text-align;
  @include width(500px);
  @include margin(0 0 2rem 0);
  @include line-height(1.5);
  color: $grayblue;

  @media only screen and (max-width: 768px) {
    @include width(70%);

  }
}

.download-ext-cardlist {
  @include flexbox(space-evenly, center);
  @include width(100%);
  @include height(100%);
  list-style-type: $none;
  
  :nth-child(1) {
    @include margin(-50px 0 0 0);
  }

  :nth-child(3) {
    @include margin(50px 0 0 0);

  }

  @media only screen and (max-width: 768px) {
    @include flexbox(center, center, column, wrap);
    height: 100%;

    :nth-child(1) {
      @include margin(25px 0 25px 0);
    }
  
    :nth-child(3) {
      @include margin(25px 0 25px 0);
  
    }
  }

  @media only screen and (max-width: 1024px) {
    @include flexbox(center, center, column, wrap);
    height: 100%;

    :nth-child(1) {
      @include margin(50px 0 50px 0);
    }
  
    :nth-child(3) {
      @include margin(50px 0 50px 0);
  
    }
  }
}

.download-ext-card {
  @include card;
  border-radius: 4px;

  // @media only screen and (max-width: 768px) {
  //   @include width(100%);
  //   @include flexbox(center, center, column, wrap);

  // }
}

.faq {
  // @include margin(8rem 0 0 0);
  @include height(100%);
  @include flexbox-center;
  text-align: center;

  @media only screen and (max-width: 768px) {
    @include margin(4rem 0 4rem 0);

  }

  @media only screen and (max-width: 1024px) {
    @include margin(4rem 0 4rem 0);
  }
}

.faq-wrapper {
  max-width: 500px;
  width: 100%;
  @include height(100%);
  min-height: 800px;
  @include flexbox(center, center, column, nowrap);
  @include padding(0 0 4rem 0);

  @media only screen and (max-width: 768px) {
    height: 100%;
    min-height: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media only screen and (max-width: 1024px) {
    height: 100%;
    min-height: fit-content;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.faq-header {
  @include font-size(2em);
  @include margin(0 0 2rem 0);
  color: $darkblue;

  @media only screen and (max-width: 425px) {
    text-align: center;
    font-size: 1.5em;
  }
}

.faq-subheader {
  @include text-align;
  @include margin(0 0 3rem 0);
  color: $grayblue;
}

.faq-list {
  @include flexbox-center-column;
  @include width(100%);
  @include padding(0 0 2rem 0);
  list-style-type: $none;
  height: 100%;
}

.faq-list-item {
  @include width(100%);
}

.faq-question {
  @include padding(18px 0 18px 0);
  @include width(fit-content);
  color: $darkblue;
  font-weight: $light;
  white-space: $nowrap;
}

.faq-question:hover {
  color: $soft-red;
}

.faq-question-wrapper {
  @include flexbox(flex-start, center, row, nowrap)
}

.faq-arrow-wrapper {
  @include flexbox(flex-end, center);
  @include width(100%);
}

.faq-arrow {
  @include max-width(18px);
  @include max-height(12px);
}

.faq-arrow:hover {
  color: $soft-red;
  fill: $soft-red;

}

.faq-answer {
  display: $none;
}

.faq-hr {
  width: 100%;
  @include height(1px);
  background: $grayblue; 
  border: 0;
}

.faq-button {
  @include padding(3rem 0 0 0);
  @include sml-btn;
  background: $soft-blue;
  color: $white;
  border-radius: 4px;
  border: 2px solid transparent;

  @media only screen and (max-width: 768px) {
    @include margin(2rem 0 0 0);

  }

}

.faq-button:hover {
  @include btnhover;
  @include border-btn;
  border-color: $soft-blue;
  color: $soft-blue; 
  border-radius: 4px;
}

.faq-acc {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  color: $darkblue;
  font-weight: $light;
}

.faq-acc-button {
  color: $darkblue;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  white-space: $nowrap;
  @include flexbox;
  background: none;
}

.faq-acc-button.active {
  color: $soft-red;
  font-weight: bold;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  color: $grayblue;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contact {
  @include flexbox;
  @include height(500px);
  background: $soft-blue;

  @media only screen and (max-width: 768px) {
    @include height(100%);
  }
}

.contact-items-wrapper {
  @include flexbox(center, center, column, wrap);
  @include padding(1rem 1rem 1rem 1rem);

  @media only screen and (max-width: 768px) {
    @include padding(3rem 3rem 3rem 3rem);
  }
}

.contact-results {
  @include text-transform;
  @include letter-spacing(4px);
  @include margin(0 0 2rem 0);
  @include text-align;
  @include font-size(0.6em);
  color: $white;
}

.contact-subheading {
  @include margin(0 0 2rem 0);
  @include width(70%);
  @include font-size(1.6em);
  color: $white;
  text-align: center;
}

.contact-input-wrapper {
  @include flexbox;
  @include width(100%);

  @media only screen and (max-width: 768px) {
    @include flexbox-center-column;
  }
}

.contact-input {
  // @include height(100%);
  padding: 10px 20px;
  @include width(300px);
  @include margin(0 1rem 0 0);
  @include border-radius(4px);
  border: $none;
  position: relative;
  outline: none;

  @media only screen and (max-width: 768px) {
    @include margin(0 0 0 0);
    @include width(100%);
  }

}

.contact-form {
  position: relative;
}

.contact-placeholder {
  position: absolute;
  left: 20px;
  top: 0px;
  color: black;
  padding: 0 20px;
  // background-color: black;
  // padding: 0 20px;
}

// .contact-input:focus ~ .contact-placeholder,
// .contact-input:valid ~ .contact-placeholder {
//   display: none;
// }

.contact-button {
  @include sml-btn;
  border: 2px solid $soft-red;
  border-radius: 4px;
  background: $soft-red;
  color: $white;

  @media only screen and (max-width: 768px) {
    margin-top: 1rem;
    width: 100%;
  }
}

.contact-button:hover{
  border: 2px solid $soft-red;

  @include btnhover;
  color: $soft-red;
}

.footer {
  @include flexbox;
  @include width(100vw);
  @include height(70px);
  @include padding(0 10% 0 10%);
  background: $darkblue;

  @media only screen and (max-width: 768px) {
    height: 100%;
    width: 100%;
    @include flexbox-center-column;

  }

  @media screen and (max-width: 1440px) {
    @include padding(0 8% 0 8%);

  }

  @media only screen and (max-width: 1024px) {
    @include padding(0 6% 0 6%);

  }
}

.footer-nav {
  @include flexbox-center;
  list-style-type: $none;

  :nth-child(1) {
    padding-right: 2rem;
  }

  @media only screen and (max-width: 768px) {
    height: 100%;
    width: 100%;
    @include flexbox-center-column;
    padding-top: 1rem;
  }

}

.footer-nav li {
  @include text-transform;
  @include padding(0 0.5rem 0 0.5rem);
  color: $inherit;
  text-decoration: $none;

  @media only screen and (max-width: 768px) {
    padding-top: 1rem;

  }
}

.footer-nav li a {
  @include text-transform;
  @include font-size(0.8em);
  color: $grayblue;
  text-decoration: $none;
}

.footer-nav li a:hover {
  color: $soft-red;
}

.footer-social-media {
  @include width(100%);
  width: fit-content;
  @include flexbox-center;

  @media only screen and (max-width: 768px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 2rem;
    height: 100%;
    @include flexbox(space-between, center);
  }
}

.footer-social-media img {
  @include padding(0 1.5rem 0 0);
  @include padding(0 0 0 1.5rem);

  @media only screen and (max-width: 768px) {
    // @include padding(0 0.5rem 0 0.5rem);
    // padding-right: 0.5rem;
  }
}

.footer-social-media img:hover {
  color: $soft-red;
  fill: $soft-red;

}