@import 'abstracts';

/* Download Extension, FAQ, Footer Styles */

.download-ext {
  @include margin(7rem);
  @include height(100%);
  @include flexbox;
}

.download-ext-wrapper {
  @include flexbox-center-column;
  @include width(70%)
}

.download-ext-header {
  @include font-size(1.6em);
  color: $darkblue;
  @include padding(0 0 2rem 0);
}

.download-ext-subheader {
  @include text-align;
  @include width(500px);
  @include margin(0 0 2rem 0);
  @include line-height(1.5);
  color: $grayblue;
}

.download-ext-cardlist {
  @include flexbox(space-evenly, center);
  @include width(fit-content);
  @include height(100%);
  list-style-type: $none;
  
  :nth-child(1) {
    @include margin(-50px 0 0 0);
  }

  :nth-child(3) {
    @include margin(50px 0 0 0);

  }
}

.download-ext-card {
  @include card;
}

.faq {
  @include margin(8rem 0 0 0);
  @include height(100%);
  @include flexbox-center;
}

.faq-wrapper {
  @include width(500px);
  @include height(100%);
  min-height: 800px;
  @include flexbox(center, center, column, nowrap);
  @include padding(0 0 4rem 0);
}

.faq-header {
  @include font-size(1.6em);
  @include margin(0 0 2rem 0);
  color: $darkblue;
}

.faq-subheader {
  @include text-align;
  @include margin(0 0 3rem 0);
  color: $grayblue;
}

.faq-list {
  @include flexbox-center-column;
  @include width(100%);
  @include padding(0 0 2rem 0);
  list-style-type: $none;
  height: 100%;
}

.faq-list-item {
  @include width(100%);
}

.faq-question {
  @include padding(18px 0 18px 0);
  @include width(fit-content);
  color: $darkblue;
  font-weight: $light;
  white-space: $nowrap;
}

.faq-question:hover {
  color: $soft-red;
}

.faq-question-wrapper {
  @include flexbox(flex-start, center, row, nowrap)
}

.faq-arrow-wrapper {
  @include flexbox(flex-end, center);
  @include width(100%);
  @include margin(0 2rem 0 0);
}

.faq-arrow {
  @include max-width(18px);
  @include max-height(12px);
}
.faq-arrow:hover {
  color: $soft-red;
  fill: $soft-red;

}

.faq-answer {
  display: $none;
}

.faq-hr {
  width: 100%;
  @include height(1px);
  background: $grayblue; 
  border: 0;
}

.faq-button {
  @include padding(3rem 0 0 0);
  @include sml-btn;
  background: $soft-blue;
  color: $white;
  border-radius: 4px;
}

.faq-acc {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;

  color: $darkblue;
  font-weight: $light;
}

.faq-acc-button {
  color: $darkblue;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  white-space: $nowrap;
  @include flexbox;
  background: none;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.contact {
  @include flexbox;
  @include height(500px);
  background: $soft-blue;
}

.contact-items-wrapper {
  @include flexbox(center, center, column, wrap);
  @include padding(1rem 1rem 1rem 1rem);
}

.contact-results {
  @include text-transform;
  @include letter-spacing(4px);
  @include margin(0 0 2rem 0);
  @include text-align;
  @include font-size(0.6em);
  color: $white;
}

.contact-subheading {
  @include margin(0 0 2rem 0);
  @include width(70%);
  @include font-size(1.6em);
  color: $white;
  text-align: center;
}

.contact-input-wrapper {
  @include flexbox;
  @include width(100%);
}

.contact-input {
  @include height(40px);
  @include width(300px);
  @include margin(0 1rem 0 0);
  @include border-radius(4px);
  border: $none;
}

.contact-button {
  @include sml-btn;
  border: 2px solid $soft-red;
  border-radius: 4px;
  background: $soft-red;
  color: $white;
}

.contact-button:hover{
  border: 2px solid $soft-red;

  @include btnhover;
  color: $soft-red;
}

.footer {
  @include flexbox;
  @include width(100vw);
  @include height(70px);
  @include padding(0 10% 0 10%);
  background: $darkblue;
}

.footer-nav {
  @include flexbox-center;
  list-style-type: $none;
}

.footer-nav li {
  @include text-transform;
  @include padding(0 0.5rem 0 0.5rem);
  color: $inherit;
  text-decoration: $none;
}

.footer-nav li a {
  @include text-transform;
  @include font-size(0.8em);
  color: $grayblue;
  text-decoration: $none;
}

.footer-social-media {
  @include width(100%);
  @include flexbox-center;
}

.footer-social-media img {
  @include padding(0 0.5rem 0 0);
  @include padding(0 0 0 0.5rem);
}

.footer-social-media img:hover {
  color: $soft-red;
  fill: $soft-red;

}