@import 'abstracts';

/*extension, FAQ, footer*/





.faq {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
}

.faq-header {
  font-size: 1.6em;
  margin-bottom: 2rem;
}

.faq-subheader {
  text-align: center;
  margin-bottom: 3rem;
  color: $grayblue;

}

.faq-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
}

.faq-list-item {
  width: 100%;
}

.faq-question {
  padding-top: 18px;
  padding-bottom: 18px;
  color: $darkblue;
  font-weight: $light;
  width: fit-content;
  white-space: nowrap;
  
}

.faq-question-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

}

.faq-arrow-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.faq-arrow {
  max-width: 18px;
  max-height: 12px;
}

.faq-answer {
  display: none;
  
}

.faq-hr {
  background-color: $grayblue; 
  height: 1px; 
  border: 0;
}

.faq-button {
  margin-top: 3rem;
  @include sml-btn;
  background: $soft-red;
  color: white;
  
}

.contact {
  height: 500px;
  background: $soft-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-items-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.contact-results {
  text-transform: uppercase;
  font-size: 0.6em;
  color: white;
  letter-spacing: 4px;
  margin-bottom: 2rem;
  text-align: center;
}

.contact-subheading {
  font-size: 1.6em;
  color: white;
  font-family: $font;
  margin-bottom: 2rem;
}

.contact-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-input {
  height: 40px;
  width: 300px;
  border-radius: 4px;
  margin-right: 1rem;
  border: none;
}

.contact-button {
  @include sml-btn;
  border-radius: 4px;
  background: $soft-red;
  color: white;
}


.footer {
  width: 100vw;
  height: 70px;
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $darkblue;
}

.footer-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.footer-nav li {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 0.5rem;
  padding-left:  0.5rem;
}

.footer-nav li a {
  font-size: 0.8em;
  color: $grayblue;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social-media {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer-social-media img {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}