// Header navigation features
@import 'abstracts';

.navbar {
    margin-left: 10%;
    margin-top: 15px;
    @include flexbox(space-between);
}

.nav-links {
    @include flexbox;
    list-style-type: $none;
    padding: 0 2em;

    @media only screen and (max-width: 1440px) {
        padding: 0 4em;
    }

    @media only screen and (max-width: 768px) {
        grid-gap: 5%;
        width: 80%;
        }
}

.nav-item a {
    text-decoration: $none;
    text-transform: uppercase;
    color: $darkblue;
    padding: 20px 20px;
    align-items: center;

    @media only screen and(max-width: 425px) {
        display: none;
    }
}

.login {
    @include sml-btn;
    background-color: $soft-red;
    color: hsl(0, 0, 100%);
    text-transform: uppercase;
    @include border-btn;
    border-color: $soft-red;
    @include border-radius(4px);

    
    @media only screen and (max-width: 768px) {
        @include laptop-btn;
        }
    
    @media only screen and(max-width: 425px) {
        display: none;
    }
}

.login:hover {
    @include btnhover;
    color: $soft-red;
    @include border-btn;
    border-color: $soft-red;
}

// .hamburger {
//     display: none;

//     @media only screen and (max-width: 425px) {
//         display: flex;
//         justify-content: flex-end;
//         padding-left: 100%;
//     }

//     @media only screen and (max-width: 320px){
//         padding-left: 50%;
//     }
// }

//dropdown btn
.dropbtn {
    display: none;
}

.dropdown-content {
    display: none;
}

@media only screen and (max-width: 425px){ 
    .dropbtn {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 16px;
    }

    //dropdown btn on hover & focus maybe add hover....
    .dropbtn:focus {
    background-color: $soft-blue;
    }

    .dropdown {
    position: relative;
    display: inline-block;

    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: $soft-blue;
    color: hsl(0, 0, 100%);
    z-index: 1;
    width: 100%;
    }

    .dropdown-content a {
    color: hsl(0, 0, 100%);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    }

    .dropdown-content a:hover {
    border: 2px solid hsl(0, 0, 100%);
    border-radius: 4px;
    }

    .show {
        display: block;
    }
}

.main-section-wrapper {
    @include grid-layout;
    grid-column-gap: 50px;
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;

    @media only screen and (max-width: 768px) {
        grid-column-gap: 10px;
        font-size: 1.2em;
    }

    @media only screen and (max-width: 425px) {
        @include flexbox-center-column;
        width: 70%;
    }

    @media only screen and (max-width: 375px) {
        width: 85%;
    }

    @media only screen and (max-width: 320px) {
        width: 100%;
    }
}

.main-section {
    grid-column-start: 1;
    padding-top: 80px;

    @media only screen and (max-width: 768px) {
        grid-row-start: 2;
        text-align: center;
        padding-bottom: 1em;
        padding-top: 60px;
    }

    @media only screen and (max-width: 425px) {
        text-align: center;
    }

    @media only screen and (max-width: 320px){
        @include flexbox-center-column;
        text-align: center;
        padding: 20%;
    }

    h1 {
        @include heading;
        font-size: 3.1em;
        width: 70%;
        padding-bottom: .4em;
        
    @media only screen and (max-width: 1024px) {
        font-size: 2em;
        }

        @media only screen and (max-width: 768px) {
            font-size: 1.5em;
            width: 100%;
        }
        
        @media only screen and (max-width: 425px) {
             font-size: 1.5em;
        }
    }

    p {
        @include grey-font;
        padding-bottom: .8em;
        line-height: 1.5;

        
    @media only screen and (max-width: 1440px) {
        font-size: $sml-font;
        }

        @media only screen and (max-width: 320px) {
            font-size: 1em;

       }
    }
}

.heroimg {
    grid-column-start: 2;

    @media only screen and (max-width: 768px) {
        grid-row-start: 1;
        grid-column-start: 1;
    }

        @media only screen and (max-width: 425px) {
        img {
            width: 100%;
            }
        }
}

.btn_chrome {
    @include sml-btn;
    background-color: $soft-blue;
    color: hsl(0, 0, 100%);
    @include border-btn;
    border-color: $soft-blue;
    @include border-radius(4px);

    @media only screen and (max-width: 1024px) {
        @include laptop-btn;
        margin-bottom: .5em;
        }
}

.btn_chrome:hover {
    @include btnhover;
    @include border-btn;
    border-color: $soft-blue;
    color: $soft-blue;
}

.btn_firefox {
    @include sml-btn;
    color: $darkblue;
    background-color: #ffff;
    @include border-radius(4px);

    @media only screen and (max-width: 1024px) {
        @include laptop-btn;
        }
}

.btn_firefox:hover {
    @include btnhover;
    @include border-btn;
    border-color: $darkblue;
    
}

.feature-section {
    text-align: center;
    margin: 0 auto;

    h1 {
        color: $darkblue;
        padding-bottom: 1em;

        @media only screen and (max-width: 425px) {
            font-size: 1.5em;
       }
    }

    p {
        color: $grayblue;
        padding-bottom: 1em;
        width: 30%;
        margin: 0 auto;
        line-height: 1.5;

        @media only screen and (max-width: 1024px) {
            width: 50%;
            }
        @media only screen and (max-width: 425px) {
            width: 60%;
        }

        @media only screen and (max-width: 375px) {
            width: 80%;
        }
    }
}

.tab {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;

    @media screen and (max-width: 1440px) {
        width: 60%;
    }

    @media only screen and (max-width: 1024px) {
        width: 100%;
        }

    @media only screen and (max-width: 768px) {
        width: 40%;
        }

        @media only screen and (max-width: 425px) {
            width: 60%;
        }

        @media only screen and (max-width: 375px) {
            width: 100%;
        }
}

.tablinks {
    color: $grayblue;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    padding: 1em 5em;
    font-size: $sml-font;
    border-bottom: 1px solid $grayblue;
}

.tablinks:hover {
    color: $soft-red;
    border-bottom: 2px solid $soft-red;
}

.tab button.active {
    color: $soft-red;
    border-bottom: 2px solid $soft-red;
    font-weight: bold;
}

.tabcontent {
    @include grid-layout;
    margin: 0 auto;
    width: 60%;
    grid-gap: 10%;
    padding-top: 40px;
    display: none;

    @media only screen and (max-width: 1024px) {
        grid-gap: 5%;
        width: 80%;
    }

    @media only screen and (max-width: 768px) {
        @include flexbox-center-column;
        grid-gap: 2%;
        width: 70%;
    }

    @media only screen and (max-width: 425px) {
        img {
         width: 80vw;
        }
     }

     h1 {
        @media only screen and (max-width: 425px) {
            font-size: 1.5em;
       }
     }

     p {
         line-height: 1.5;
         font-size: 1.1em;
     }
}

.featured-img {
    grid-column-start: 1;
    grid-row-start: 1;
}

.content {
    grid-column-start: 2;

    @media only screen and (max-width: 768px) {
        grid-column-start: 1;
        grid-row-start: 2;
        text-align: center;
    }

    h1 {
        padding: 1em 0em;
        color: $darkblue;

    @media only screen and (max-width: 425px) {
        text-align: center;
        }

    @media only screen and (max-width: 375px) {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: .5em 0;
        font-size: 1.5em;
         } 
    }

    p {
        padding: 1em 0em;
        @include grey-font;

        @media only screen and (max-width: 425px) {
            width: 100%;
            margin: 0 auto;
            padding: 0;
        }
    
    @media only screen and (max-width: 375px) {
        width: 100%;
        }
    }
}

.btn-moreinfo {
    @include sml-btn;
    background: $soft-blue;
    color: #ffff;
    @include border-radius(4px);

    @media only screen and (max-width: 425px) {
        margin-top: 1em;
    }
}

.btn-moreinfo:hover {
    @include btnhover;
    @include border-btn;
    border-color: $soft-blue;
    color: $soft-blue;
}

.tab {
    overflow: hidden;
}

.attribution {
    color: hsl(0, 0, 100%);
    text-align: center;
    font-size: $sml-font;
    padding: 20px;
}

.attribution a {
    text-decoration: none;
    color: hsl(0, 0, 100%);
}

.attribution a:hover {
    text-decoration: none;
    color: $soft-red;
}

