// Header navigation features
@import 'abstracts';

.navbar {
    margin-top: 15px;
    @include flexbox(space-between);
}

.nav-links {
    @include flexbox;
    list-style-type: $none;
    padding: 0 2em;
}

.nav-item a {
    text-decoration: $none;
    text-transform: uppercase;
    color: $darkblue;
    padding: 20px 20px;
    align-items: center;
}

.login {
    @include sml-btn;
    background-color: $soft-red;
    color: hsl(0, 0, 100%);
    text-transform: uppercase;
    @include border-btn;
    border-color: $soft-red;
}

.login:hover {
    @include btnhover;
    color: $soft-red;
    @include border-btn;
    border-color: $soft-red;
}

.main-section-wrapper {
    @include grid-layout;
    grid-column-gap: 50px;
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;
}

.main-section {
    grid-column-start: 1;
    padding-top: 80px;

    h1 {
        @include heading;
        font-size: 3.1em;
        width: 70%;
        padding-bottom: .4em;
    }

    p {
        @include grey-font;
        padding-bottom: .8em;
    }
}

.heroimg {
    grid-column-start: 2;
}

.btn_chrome {
    @include sml-btn;
    background-color: $soft-blue;
    color: hsl(0, 0, 100%);
    @include border-btn;
    border-color: $soft-blue;
}

.btn_chrome:hover {
    @include btnhover;
    @include border-btn;
    border-color: $soft-blue;
    color: $soft-blue;
}

.btn_firefox {
    @include sml-btn;
    color: $darkblue;
    background-color: #ffff;
}

.btn_firefox:hover {
    @include btnhover;
    @include border-btn;
    border-color: $darkblue;
    
}

.feature-section {
    text-align: center;
    margin: 0 auto;

    h1 {
        color: $darkblue;
        padding-bottom: 1em;
    }

    p {
        color: $grayblue;
        padding-bottom: 1em;
        width: 30%;
        margin: 0 auto;
    }
}

.features-list {

    ul {
        @include flexbox; 
    }

    li {
        list-style-type: $none;
        padding: 1em 5em;
        color: $grayblue;
        border-bottom: 1px solid $grayblue;
        cursor: pointer;
    }

    li:hover{
        color: $soft-red;
        border-bottom: 1px solid $soft-red;
    }
}

.feature-tab-wrapper {
    @include grid-layout;
    margin: 0 auto;
    width: 50%;
    grid-gap: 10%;
    padding-top: 40px;
}

.feature-tab-1 {
    @include feature-tab-mix;
    display: $none;
}

.featured-img {
    @include feature-img;
    display: $none;
}

.feature-tab-2 {
    @include feature-tab-mix;
    display: $none;
}

.featured-img-2 {
    @include feature-img;
    display: $none;
}

.feature-tab-3 {
    @include feature-tab-mix;
    // display: none;
}

.featured-img-3 {
    @include feature-img;
    // display: none;
}




